<div class="weather-page" *ngIf="weatherData">
  <div class="header">
    <h1>{{ weatherData.name }}</h1>
    <div class="temperature-icon">
      <img [src]="'https://openweathermap.org/img/w/' + weatherData.weather[0].icon + '.png'" alt="{{ weatherData.weather[0].description }}">
      <span>{{ weatherData.main.temp }}°C</span>
    </div>
  </div>
  
  <div class="details">
    <p><strong>Wind Speed:</strong> {{ weatherData.wind.speed }} km/h</p>
    <p><strong>Precipitation:</strong> {{ weatherData.main.humidity }}%</p>
  </div>
  
  <div class="time-date">
    <p class="time">{{ weatherData.dt | date:'hh:mm a' }}</p>
    <p class="date">{{ weatherData.dt | date:'EEEE d MMMM y' }}</p>
  </div>
</div>
