<div class="countryPage">

    <div class="row gap-4">
        
        @for (item of CountryList; track $index) {
        <mat-card class="example-card col-md-4">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"  [ngStyle]="{'background-image': 'url(' + item.flags.png + ')'}">
                    
                    
                </div>
                <mat-card-title>{{item.name.common}}</mat-card-title>
                @for (capital of item.capital; track $index) {
                    
                    <mat-card-subtitle>{{capital}}</mat-card-subtitle>
                }
            </mat-card-header>
            <img mat-card-image src="{{item.flags.png}}" alt="Flag of {{item.name.common}}">
            <mat-card-content>
                @for (currency of getCurrencies(item.currencies); track $index) {
                    <p>
                        {{currency.name}} ({{currency.symbol}})
                    </p>
                }
                <p>Population: {{item.population}}</p>
                <p>Coordinates: {{item.latlng}}</p>
                
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="getCapitalWeather(item.capital[0])">Capital Weather</button>
            </mat-card-actions>
        </mat-card>
    }
</div>
</div>